---
import { Image } from 'astro:assets';
import PageLayout from '@layouts/PageLayout.astro';
import InfoBox from '@components/InfoBox.astro';
import FigureImg from '@components/FigureImg.astro';

import asonahores from '@assets/asonahores-logo.png';
import isqua from '@assets/ISQua_Final_Logo_landscape2.png';
import ibms from '@assets/ibms-logo.png';
import presentacion from '@assets/ClusterSaludSD.jpg';

const pageTitle = 'Sobre Nosotros';
---

<PageLayout pageTitle={pageTitle}>
  <h4>Sobre el Clúster de Salud de Santo Domingo (www.ClusterSaludSD.org)</h4>

  <InfoBox color="blue">
    En la intersección de los clúster, conocimientos y habilidades de varios
    campos se combinan y generan nuevos negocios.<br /><em
      >Prof. Michael Porter</em
    >
  </InfoBox>

  <p>
    Objetivo del Clúster de Salud Santo Domingo: Crear sinergias optimizando la
    competitividad y la calidad de los servicios de salud en la provincia de
    Santo Domingo. El Valor de la Colaboración: CREEMOS EN GENERAR FORTALEZAS EN
    BASE A SINERGIAS Y ALIANZAS
  </p>

  <p>
    El concepto de los clústers fue detallado por primera vez por el Profesor
    Michael Porter a principios de la década de los 90, describiéndolos como
    concentraciones geográficas de empresas e instituciones interconectadas en
    un campo particular y como una herramienta para analizar de una forma
    integral factores que permiten a una industria específica incorporar nuevos
    eslabones en su cadena productiva, generando así ventajas comparativas en
    ciertos sectores del comercio mundial y fortaleciendo la competitividad.
  </p>

  <h4>Sobre la Clusterizacion en Salud (primer Ejercicio del Cluster)</h4>

  <InfoBox color="blue">
    <strong>Sinergia, escala y competitividad</strong> Dr. Amado Alejandro Báez MSc,
    MPH, FAAEM y FCCM<br />
    <a
      href="http://web.archive.org/web/20230401005559/http://chtmagazine.com/edicion-13/sinergia-escala-y-competitividad/"
      class="text-zinc-700"
      >http://chtmagazine.com/edicion-13/sinergia-escala-y-competitividad/</a
    >
  </InfoBox>

  <p>
    Proponemos una arquitectura básica para la creación del Clúster Salud de
    Santo Domingo. Este debe necesariamente integrar actores principales de los
    sectores salud y asociados, los cuales representando sus diversas áreas
    profesionales promuevan sinergia, escala económica y colaboración para
    fortalecer nuestra competitividad en este importante mercado global.
    Entendemos que existen numerosas otras instituciones y organizaciones que de
    una forma u otra convergen en el área de salud con potencial a contribuir
    con este proceso, y entendemos sería justo considerarlas mismas en cada caso
    de forma específica, para su inclusión en este esquema propuesto y así sumar
    y generar más alianzas y colaboraciones.
  </p>

  <div class="grid grid-cols-12 gap-8">
    <div class="col-span-12 lg:col-span-7">
      <h4 class="mb-5">Miembros de:</h4>
      <div class="grid grid-cols-2 gap-8">
        <div class="col-span-2 md:col-span-1">
          <a href="https://www.asonahores.com/" target="_blank">
            <Image
              src={asonahores}
              alt="Logo de Asonahores"
              class="max-w-sm md:max-w-full"
            />
          </a>
        </div>

        <div class="col-span-2 md:col-span-1">
          <a href="https://www.isqua.org/" target="_blank">
            <Image
              src={isqua}
              alt="Logo de ISQua"
              class="max-w-sm md:max-w-full"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="col-span-12 lg:col-span-5">
      <h4 class="mb-5">Representantes nacionales del:</h4>
      <div class="grid grid-cols-2 gap-8">
        <div class="col-span-2 md:col-span-1">
          <a href="https://www.ibms.us/" target="_blank">
            <Image src={ibms} alt="Logo de IBMS" class="w-28" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <h4>Descargar presentacion:</h4>
  <a href="/ClusterSaludSD.org.pdf" download>
    <FigureImg
      image={presentacion}
      alt="Descarga la presentacion"
      class="max-w-sm !text-left"
    />
  </a>
</PageLayout>
