---
import { Image } from 'astro:assets';
import logo from '@assets/logo.jpg';

const path = Astro.url.pathname;

const menu = [
  {
    name: 'Inicio',
    href: '/',
  },
  {
    name: 'Sobre Nosotros',
    href: '/nosotros',
  },
  {
    name: 'Sobre los Clusters',
    href: '/sobre-clusters',
  },
  {
    name: 'HUBHealth',
    href: '/hubhealth',
  },
  {
    name: 'Contáctanos',
    href: '/contacto',
  },
];
---

<header class="relative">
  <div class="bg-zinc-600 py-3 text-sm text-zinc-400">
    <div
      class="cssd-container text-center sm:flex sm:items-center sm:justify-between"
    >
      <div>
        <span class="mr-1">Infórmate:</span><a
          href="mailto:info@clustersaludsd.org">info@clustersaludsd.org</a
        > | <a href="tel:8093781962">809-378-1962</a>
      </div>

      <div
        class="mt-4 flex items-center justify-center leading-normal sm:mt-0 sm:justify-end"
      >
        <a href="#" target="_blank" class="mr-3">
          <svg
            class="inline-block"
            height="20"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            version="1.1"
            viewBox="0 0 512 512"
            width="20"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            ><path
              d="M374.244,285.825l14.105,-91.961l-88.233,0l0,-59.677c0,-25.159 12.325,-49.682 51.845,-49.682l40.116,0l0,-78.291c0,0 -36.407,-6.214 -71.213,-6.214c-72.67,0 -120.165,44.042 -120.165,123.775l0,70.089l-80.777,0l0,91.961l80.777,0l0,222.31c16.197,2.541 32.798,3.865 49.709,3.865c16.911,0 33.511,-1.324 49.708,-3.865l0,-222.31l74.128,0Z"
              fill-rule="nonzero"
              fill="#a1a1aa"></path></svg
          >
        </a>
        <a href="https://twitter.com/clustersaludsd" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="inline-block"
            width="19"
            height="20"
            viewBox="0 0 1200 1227"
            fill="none"
            ><g clip-path="url(#clip0_1_2)"
              ><path
                d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"
                fill="#a1a1aa"></path></g
            ><defs
              ><clipPath id="clip0_1_2"
                ><rect width="1200" height="1227" fill="white"></rect></clipPath
              ></defs
            ></svg
          >
        </a>
      </div>
    </div>
  </div>

  <div class="relative bg-white py-5 lg:py-1.5" x-data="{ open: false }">
    <div
      class="cssd-container flex items-center justify-between md:flex-col lg:flex-row"
    >
      <a
        href="/"
        class="mx-auto mb-2 block w-60 flex-shrink-0 flex-grow-0 lg:mb-0 lg:w-72 lg:basis-72 xl:w-80 xl:basis-80"
        ><Image src={logo} alt="Cluster Salud SD" /></a
      >

      <div class="flex-auto text-right">
        <button
          type="button"
          class="hamburger bg-secondary p-2.5 md:hidden"
          :class="open ? 'active' : ''"
          aria-label="Abrir menú"
          aria-controls="navigation"
          @click="open = !open"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

        <nav class="hidden md:!block">
          <ul
            class="flex items-center justify-center text-sm lg:justify-end xl:text-base"
          >
            {
              menu.map((item) => (
                <li>
                  <a
                    href={item.href}
                    class:list={[
                      'menu-item block px-4 py-2 hover:bg-primary hover:text-white focus:bg-primary focus:text-white',
                      { 'bg-white text-zinc-600': path !== item.href },
                      { 'bg-primary text-white': path === item.href },
                    ]}
                  >
                    {item.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </div>

    <nav id="navigation" class="px-4 md:hidden" x-show="open" x-collapse>
      <ul class="text-sm">
        {
          menu.map((item) => (
            <li>
              <a
                href={item.href}
                class="menu-item block border-t border-solid border-secondary-light bg-secondary px-8 py-3.5 uppercase text-white hover:bg-secondary-hover focus:bg-secondary-hover"
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  .hamburger-box {
    @apply relative block h-6 w-8;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    @apply absolute h-1 w-8 rounded bg-white transition-transform;
  }

  .hamburger-inner {
    @apply top-0.5 -mt-0.5 block;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    @apply block content-[""];
  }

  .hamburger-inner::before {
    @apply top-2.5 transition-opacity;
  }

  .hamburger-inner::after {
    @apply -bottom-2.5 top-5;
  }

  .hamburger.active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }

  .hamburger.active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  .hamburger.active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
  }
</style>
